/*Universal*/
	*{
		font-family: Poppins;
		text-align: center;
	}
	body{
		margin: 0;
		color: white;
	}
/*Universal*/
/*Header*/

/*Header*/
/*Navbar*/

/*Navbar*/
/*Profile*/

/*Profile*/
/*About Me*/

/*About Me*/
/*Footer*/

/*Footer*/